.colorB{
    width: 190px;
    height: 100px;
    border:1px solid;
    font-size: 40px;
    text-align: center;
    background: black;
    position: relative;
    top: 50%;
    left: 400%;
    margin: -1%-4%;
    
}

.ranColorButton{
    width: 190px;
    height: 125px;
    border:1px solid;
    font-size: 25px;
    
    background: black;
    position: relative;
    top: 40%;
    left: 400%;
    margin: 5%-4%;
    
}